<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
     
    <bean id="loginFilter" class="org.linuxkernel.template.cv.filter.LoginFilter"> 
    	<property name="allows">
    		<array>
    			<value>.js</value>
    			<value>.css</value>
    			<value>.png</value>
    			<value>.gif</value>
    			<value>.html</value>
    			<value>/login</value>
    		</array>
    	</property>
     </bean> 
</beans>